/**/*
#/*
#/etc/*
#/etc/mkinitcpio.d/*
#/etc/ssh/*
#/etc/unbound/*
#/etc/systemd/*
#/etc/security/*
#/etc/pacman.d/*
#/etc/polipo/*
#/opt/*
#/opt/scripts/*
#/root/*

!/.gitignore

!/etc/
!/etc/profile
!/etc/bash.bashrc
!/etc/sudoers
!/etc/vimrc
!/etc/locale.conf
!/etc/locale.gen
!/etc/vconsole.conf
!/etc/mkinitcpio.conf
!/etc/resolvconf.conf
!/etc/pacman.conf
!/etc/installed_packages
!/etc/installed_packages_local
!/etc/libao.conf
!/etc/odbcinst.ini

!/etc/mkinitcpio.d/
!/etc/mkinitcpio.d/linux.preset

!/etc/ssh/
!/etc/ssh/sshd_config
!/etc/ssh/ssh_config

!/etc/unbound/
!/etc/unbound/unbound.conf

!/etc/samba/
!/etc/samba/smb.conf

!/etc/systemd/
!/etc/systemd/system/
!/etc/systemd/system/**/*
/etc/systemd/system/multi-user.target.wants/netctl-auto@*
/etc/systemd/system/multi-user.target.wants/netctl-ifplugd@*

!/etc/firewalld/
!/etc/firewalld/zones/
!/etc/firewalld/zones/internal.xml

!/etc/security/
!/etc/security/limits.conf

!/etc/pacman.d/
!/etc/pacman.d/mirrorlist

!/etc/netctl/
!/etc/netctl/interfaces/
!/etc/netctl/interfaces/*

!/etc/polipo/
!/etc/polipo/config

!/opt/
!/opt/scripts/
!/opt/scripts/_utils.py
!/opt/scripts/gen_installed_packages.py
!/opt/scripts/update_goagent_ip.py
!/opt/scripts/load_encrypted_drives.py
!/opt/scripts/bootstrap_new_arch_system.py
!/opt/scripts/install_syslinux_uefi.py
!/opt/scripts/reset_network.py
!/opt/scripts/start_vps_proxy.py
!/opt/scripts/init_postgres_db.py
!/opt/scripts/prepare_arch_chroot.py

!/root/
!/root/.bashrc
!/root/.bash_profile
!/root/.ssh/config
