/*
/etc/*
/etc/ssh/*
/etc/unbound/*
/etc/systemd/*
/etc/security/*
/etc/pacman.d/*
/opt/*
/opt/scripts/*

!/.gitignore

!/etc/
!/etc/profile
!/etc/bash.bashrc
!/etc/sudoers
!/etc/vimrc
!/etc/locale.conf
!/etc/locale.gen
!/etc/vconsole.conf
!/etc/mkinitcpio.conf
!/etc/resolvconf.conf
!/etc/pacman.conf
!/etc/installed_packages
!/etc/installed_packages_local

!/etc/ssh/
!/etc/ssh/sshd_config

!/etc/unbound/
!/etc/unbound/unbound.conf

!/etc/systemd/
!/etc/systemd/system/

!/etc/security/
!/etc/security/limits.conf

!/etc/pacman.d/
!/etc/pacman.d/mirrorlist

!/opt/
!/opt/scripts/
!/opt/scripts/gen_installed_packages.py
!/opt/scripts/update_goagent_ip.py
!/opt/scripts/load_encrypted_drives.py
