ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/iosched/fifo_expire_sync}="250", ATTR{queue/iosched/fifo_expire_async}="1500", ATTR{queue/iosched/slice_async_rq}="4", ATTR{queue/iosched/slice_async}="80"
