ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{queue/iosched/fifo_expire_sync}="150", ATTR{queue/iosched/fifo_expire_async}="1500", ATTR{queue/iosched/slice_async_rq}="3", ATTR{queue/iosched/slice_async}="60"
