[Unit]
Description=Socks proxy through VPS
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/opt/scripts/start_vps_proxy.py
TimeoutStartSec=0
Restart=on-success
RestartSec=2
KillMode=mixed

#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/tty12

[Install]
WantedBy=multi-user.target
